.workout{
    background: #C2EDD6;
    width: 98%;
    height: 5rem;
    font-size: 40px;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    // flex-direction: row;
    margin-bottom: 1rem;
}
