.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  width: 60%;
  background-color: green;
  height: 3rem;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  font-size: 25px;
}

body{margin: 0}
